* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 0;
}

.page-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  height: 500px;
  width: 100%;
  background-color: #a4e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrapper__success {
  background-color: #a1f9a1;
}

.page-wrapper__cancel {
  background-color: #ff6c6c;
}

.cta {
  background-color: #389fbc;
  color: #e5f1f8;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App__main-app-wrapper {
  flex: 2;
}

.App__embedded-wrapper {
  flex: 1;
}

@media (min-width: 1024px) {
  .App {
    flex-direction: row;
  }
  .embedded-wrapper {
    max-width: 400px;
  }
}

.iframe-wrapper {
  border: none;
  height: 200px;
}

.embedded-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
