html,
body,
#root {
  height: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: 20px;
}

.wrapper {
  background-color: #b1ced9;
  text-align: center;
  height: 100%;
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
