html,
body,
#root {
  height: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 0;
}

.wrapper {
  background-color: #e8e8e8;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 30px;
}
